* {
    box-sizing: border-box;
}
/* body color */
body {
    margin: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(246, 243, 243);
}

header {
    padding: 10px;
    background-color: rgb(251, 10, 10);

}
/* header changed */
header a {
    text-decoration: none;
}

/* nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;

    position: relative;
} */



nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.35rem;
    left: 0;
    bottom: 0;
    background: red;
    transform: scale(0,1);
    transition: transform 0.5s ease;
}

nav a:hover::after{
    transform: scale(1,1);
}


main {
    background-color: rgb(237, 235, 235);
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(249, 243, 243);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    width:  auto;
    height: auto;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {

    background-color: rgb(54, 24, 24);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(110, 63, 63);
}

.circular {
  border-radius: 52%;
}

/**********STROKES**********/
nav {
    width: 80%;
    margin: 0 auto;
    background: #181818;
    padding-bottom: 0%;
    padding: 50px 0;
    box-shadow: 0px 5px 0px;
  }
  nav ul {
    list-style: none;
    align-items: center;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(247, 224, 224);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(134, 74, 74);
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }

  /* will bring navbar to center  */
.topnav-right{
    margin: auto;
}
.Message{
    color: whitesmoke;
    text-align: center;
}
