* {
    box-sizing: border-box;
}

:root {
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;   /* */
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
  }

.light-mode {
    --color-grey-0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
  }


/* body color */
body {
    margin: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 8rem;
    color:  var(--color-grey-1);



}

/*Adding animation to the header*/

header h1{
content: "ScNMtv";
width:50%;
color: var(--color-grey-1);
position: relative;
top:0%;
left:0%;
border-right: 0.4rem solid white;
animation: slide 2s linear infinite;
-webkit-animation: slide 3s linear infinite;
overflow: hidden;


}

@keyframes slide {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
    
}


/* header updated */
header {
    padding: 10px;
    background-color: rgb(251, 10, 10);

}
/* header changed */
header a {
    text-decoration: none;
}

/* nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;

    position: relative;
} */


/* nav changed */
nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.35rem;
    left: 0;
    bottom: 0;
    background: red;
    transform: scale(0,1);
    transition: transform 0.5s ease;
}
/* nav styled hover */
nav a:hover::after{
    transform: scale(1,1);
}

/* main styled */
main {
    background-color:var(--color-grey-1);
    
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: var(--color-grey-1);
    
}

section {
    min-height: 100vh;
    text-decoration: underline;
}

section :hover{
    color:#111;
    background: #d45364;
    box-shadow:  0 0 50px #d45364;
} 

/* video edited */
video {
    padding: 10px;
}

iframe {
    width:  auto;
    height: auto;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {

    background-color: rgb(54, 24, 24);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(116, 53, 53);
}

.circular {
  border-radius: 52%;
}

/**********STROKES**********/
nav {
    width: auto;
    margin: 0 auto;
    background: rgb(0 0 0 / 80%);
    padding-bottom: 0%;
    padding: 0px 0;
    box-shadow: 0px 0px 0px;
  }
  nav ul {
    list-style: none;
    align-items: center;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(247, 224, 224);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(134, 74, 74);
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }

  /* will bring navbar to center  */
.topnav-right{
    margin: auto;
    border-style: groove;
    text-shadow: #aaa;
    text-decoration: wavy;
}
.topnav-right :hover{
    color:#111;
    background: #d45364;
    box-shadow:  0 0 50px #d45364;
}
.Message{
    color: whitesmoke;
    text-align: center;
}


/* theme  */

.theme-btn {
    top: 3%;
    right: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
  }
  .theme-btn:active {
    transform: translateY(-3px);
  }
  .theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
  }
